.App, html{
  font-family: monospace;
  color: green;
  background-color: black;
  height: 100%
}

h1 {
  text-align: center;
}

.addmodal .modal-content, .addmodal input{
  font-family: monospace;
  background-color: black;
  color: green;
}

.addmodal Button, Button {
  font-family: monospace;
  color: green;
}